li {
    background-color: whitesmoke;
    list-style-type: none;
    padding: 5px 15px;
    width: 300px;
    display: flex;
    margin: 10px 0px;
    justify-content: space-between;
    border-radius: 8px;
    color: white;
    background-color: #424242;
}

h1{
text-align: center;
color: white;
}

body{
    font-family: 'Roboto', serif;
    background: #1f1f1f;
}

input{
    border: 0;
    outline: none;
    border: none;
    overflow: visible;
    margin: 10px 0px;
    padding: 8px 14px;
    border-radius: 8px;
    background: #ffffff;
}

button.btn-primary{
    margin: 0px 0px 30px 0px;
}

p.notes {
    font-size: 13px;
    margin-bottom: 8px;
    color: #e4e4e4;
    padding: 5px 5px;
}

p.name{
    margin-bottom: 0px;
    padding: 5px 5px;
}

.flex4{
    display: flex;
}

.flex2{
    margin-left: 15px;
    width: 155px;
}

div.trash{
    cursor: pointer;
}

div.trash:hover{
    color: #ff7e7e;
}

input[type=checkbox], input[type=radio]{
    cursor: pointer;
}

.draggable.dragging{
    opacity: .5;
}

button.btn-edit {
    color: #ff7e7e;
    border: 0;
    border-radius: 5px;
    background: transparent;
    height: 32px;
    font-size: 14px;
    margin-top: 24px;
}

button.btn-update {
    color: rgb(154 255 62);
    border: 0;
    border-radius: 5px;
    background: transparent;
    height: 32px;
    font-size: 14px;
    margin-top: 24px;
}

#shoppingList{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    width: 330px;
}